<div class="card mb-3">
  <div class="card-body">
    <div class="row gx-4">
      <div class="col-md-4">
        <label class="form-label">Edit Terms</label>
        <input type="text" name="capabilities[edit_terms]" class="form-control" placeholder="manage_categories">
      </div>
      <div class="col-md-4">
        <label class="form-label">Manage Terms</label>
        <input type="text" name="capabilities[manage_terms]" class="form-control" placeholder="manage_categories">
      </div>
      <div class="col-md-4">
        <label class="form-label">Delete Terms</label>
        <input type="text" name="capabilities[delete_terms]" class="form-control" placeholder="manage_categories">
      </div>
    </div>

    <div class="row gx-4 mt-3">
      <div class="col-md-4">
        <label class="form-label">Assign Terms</label>
        <input type="text" name="capabilities[assign_terms]" class="form-control" placeholder="edit_posts">
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <p class="small text-muted ms-3">Set custom capabilities to manage taxonomy. Defaults are category capabilities.</p>
      </div>
    </div>
  </div>
</div>
