<div class="card mb-3">
  <div class="card-body">
    <div class="row gx-4">
      <div class="col-md-4">
        <label class="form-label">Function Name</label>
        <input type="text" name="general[taxonomy]" class="form-control" placeholder="custom_taxonomy" value="<%= form.taxonomy || 'custom_taxonomy' %>">
        <div class="form-text">The function used in the code (lowercase, underscores).</div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Child Themes</label>
        <select name="general[child_themes]" class="form-select">
          <option value="no">No</option>
          <option value="yes">Yes</option>
        </select>
        <div class="form-text">Add Child Themes Support.</div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Text Domain</label>
        <input type="text" name="general[text_domain]" class="form-control" placeholder="text_domain" value="<%= form.text_domain || 'text_domain' %>">
        <div class="form-text">Translation file Text Domain. Optional.</div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="card mb-3">
  <div class="card-body">
    <p class="small text-muted">More General options will be added as we continue.</p>
  </div>
</div> -->
