<div class="card mb-3">
  <div class="card-body">
    <div class="row gx-4">
      <div class="col-md-6">
        <label class="form-label">Update Count Callback</label>
        <input type="text" name="other[update_count_callback]" class="form-control" placeholder="my_update_callback">
        <div class="form-text">
          Function name to call when the count of an associated post type is updated.
        </div>
      </div>
    </div>
  </div>
</div>
