<div class="card mb-3">
  <div class="card-body">
    <div class="row gx-4 gy-3">
      <div class="col-md-4">
        <label class="form-label">Permalink Rewrite</label>
        <select name="permalinks[rewrite]" class="form-select">
          <option value="default">Default</option>
          <option value="false">No (disable rewrite)</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">URL Slug</label>
        <input type="text" name="permalinks[url_slug]" class="form-control" placeholder="taxonomy">
      </div>

      <div class="col-md-4">
        <label class="form-label">Use URL Slug</label>
        <select name="permalinks[use_slug]" class="form-select">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
    </div>

    <div class="row gx-4 mt-3">
      <div class="col-md-4">
        <label class="form-label">Hierarchical URL Slug</label>
        <select name="permalinks[hierarchical]" class="form-select">
          <option value="no">No</option>
          <option value="yes">Yes</option>
        </select>
      </div>
    </div>
  </div>
</div>
