<div class="card mb-3">
  <div class="card-body">
    <div class="row gx-4">
      <div class="col-md-4">
        <label class="form-label">Show in REST</label>
        <select name="rest[show_in_rest]" class="form-select">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">REST Base</label>
        <input type="text" name="rest[rest_base]" class="form-control" placeholder="genre">
        <div class="form-text">Base URL of REST route. Default is taxonomy key.</div>
      </div>
      <div class="col-md-4">
        <label class="form-label">REST Controller Class</label>
        <input type="text" name="rest[rest_controller_class]" class="form-control" placeholder="WP_REST_Terms_Controller">
      </div>
    </div>
  </div>
</div>
