<div class="card mb-3">
  <div class="card-body">
    <div class="row gx-4 gy-3">
      <div class="col-md-4">
        <label class="form-label">Public</label>
        <select name="visibility[public]" class="form-select">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <div class="form-text">Show this taxonomy in the admin UI.</div>
      </div>
      <div class="col-md-4">
        <label class="form-label">Show UI</label>
        <select name="visibility[show_ui]" class="form-select">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">Show Tag Cloud</label>
        <select name="visibility[show_tagcloud]" class="form-select">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
    </div>

    <div class="row gx-4 mt-3">
      <div class="col-md-4">
        <label class="form-label">Show Admin Column</label>
        <select name="visibility[show_admin_column]" class="form-select">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">Show in Navigation Menus</label>
        <select name="visibility[show_in_nav_menus]" class="form-select">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">Show in REST</label>
        <select name="visibility[show_in_rest]" class="form-select">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
    </div>
  </div>
</div>
